Repository libracore/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests, server-ui

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  range: 60..90
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        flags:
          - server
    patch:
      default:
        target: 85%
        threshold: 0%
        only_pulls: true
        if_ci_failed: ignore
        flags:
          - server

comment:
  layout: "diff, flags"
  require_changes: true
  show_critical_paths: true

flags:
  server:
    paths:
      - "**/*.py"
    carryforward: true
  ui-tests:
    paths:
      - "**/*.js"
    carryforward: true
  server-ui:
    paths:
      - "**/*.py"
    carryforward: true

profiling:
   critical_files_paths:
      - /frappe/api.py
      - /frappe/app.py
      - /frappe/auth.py
      - /frappe/boot.py
      - /frappe/client.py
      - /frappe/handler.py
      - /frappe/migrate.py
      - /frappe/sessions.py
      - /frappe/utils/*
      - /frappe/desk/reportview.py
      - /frappe/desk/form/*
      - /frappe/model/*
      - /frappe/core/doctype/doctype/*
      - /frappe/core/doctype/data_import/*
      - /frappe/core/doctype/user/*
      - /frappe/core/doctype/user/*
      - /frappe/query_builder/*
      - /frappe/database/*

Fix regression breaking date filters in list views [recommit]
  frappe/public/js/frappe/form/controls/date.js
Due: ui-tests

Backport https://github.com/frappe/frappe/commit/bef1dc6 and related DocTypes to add OAuth support to email integration
  frappe/core/doctype/user/user.py
  frappe/email/doctype/email_account/email_account.js
  frappe/email/doctype/email_account/email_account.json
  frappe/email/doctype/email_account/email_account.py
  frappe/email/oauth.py
  frappe/email/receive.py
  frappe/email/smtp.py
  frappe/integrations/doctype/connected_app/__init__.py
  frappe/integrations/doctype/connected_app/connected_app.js
  frappe/integrations/doctype/connected_app/connected_app.json
  frappe/integrations/doctype/connected_app/connected_app.py
  frappe/integrations/doctype/connected_app/test_connected_app.py
  frappe/integrations/doctype/connected_app/test_records.json
  frappe/integrations/doctype/oauth_scope/__init__.py
  frappe/integrations/doctype/oauth_scope/oauth_scope.json
  frappe/integrations/doctype/oauth_scope/oauth_scope.py
  frappe/integrations/doctype/query_parameters/__init__.py
  frappe/integrations/doctype/query_parameters/query_parameters.json
  frappe/integrations/doctype/query_parameters/query_parameters.py
  frappe/integrations/doctype/token_cache/__init__.py
  frappe/integrations/doctype/token_cache/test_records.json
  frappe/integrations/doctype/token_cache/test_token_cache.py
  frappe/integrations/doctype/token_cache/token_cache.js
  frappe/integrations/doctype/token_cache/token_cache.json
  frappe/integrations/doctype/token_cache/token_cache.py
  frappe/utils/data.py
Due: server, ui-tests, server-ui

Change token cache fieldtypes to Small Text to avoid 140 character limit
  frappe/integrations/doctype/token_cache/token_cache.json
Due: none

Fix JS error in backport
  frappe/email/doctype/email_account/email_account.js
Due: ui-tests

downgrade future dependency
  pyproject.toml
Due: none

new cobinet logo
  frappe/public/images/cobinet.png
Due: none

Email fix: Use RFC-compliant parsing of outgoing messages to eliminate bare line feeds
  frappe/email/queue.py
Due: server, server-ui

Backport fix: Error message
  frappe/email/oauth.py
Due: server, server-ui

restoring payment gateways
  frappe/core/doctype/payment_gateway/__init__.py
  frappe/core/doctype/payment_gateway/payment_gateway.js
  frappe/core/doctype/payment_gateway/payment_gateway.json
  frappe/core/doctype/payment_gateway/payment_gateway.py
  frappe/core/doctype/payment_gateway/test_payment_gateway.js
  frappe/core/doctype/payment_gateway/test_payment_gateway.py
  frappe/integrations/doctype/braintree_settings/__init__.py
  frappe/integrations/doctype/braintree_settings/braintree_settings.js
  frappe/integrations/doctype/braintree_settings/braintree_settings.json
  frappe/integrations/doctype/braintree_settings/braintree_settings.py
  frappe/integrations/doctype/braintree_settings/test_braintree_settings.js
  frappe/integrations/doctype/braintree_settings/test_braintree_settings.py
  frappe/integrations/doctype/paypal_settings/__init__.py
  frappe/integrations/doctype/paypal_settings/paypal_settings.js
  frappe/integrations/doctype/paypal_settings/paypal_settings.json
  frappe/integrations/doctype/paypal_settings/paypal_settings.py
  frappe/integrations/doctype/razorpay_settings/__init__.py
  frappe/integrations/doctype/razorpay_settings/razorpay_settings.js
  frappe/integrations/doctype/razorpay_settings/razorpay_settings.json
  frappe/integrations/doctype/razorpay_settings/razorpay_settings.py
  frappe/integrations/doctype/stripe_settings/__init__.py
  frappe/integrations/doctype/stripe_settings/stripe_settings.js
  frappe/integrations/doctype/stripe_settings/stripe_settings.json
  frappe/integrations/doctype/stripe_settings/stripe_settings.py
  frappe/integrations/doctype/stripe_settings/test_stripe_settings.js
  frappe/integrations/doctype/stripe_settings/test_stripe_settings.py
Due: server, ui-tests, server-ui

hotfix icons
  frappe/public/scss/common/icons.scss
Due: none

hotfix buttons
  frappe/public/scss/common/buttons.scss
Due: none

Email error handling fix
  frappe/email/receive.py
Due: server, server-ui

removing github-related data
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question-about-using-frappe.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/frappe-framework-logo.svg
  .github/helper/db/mariadb.json
  .github/helper/db/postgres.json
  .github/helper/install.sh
  .github/helper/install_dependencies.sh
  .github/helper/roulette.py
  .github/helper/update_pot_file.sh
  .github/labeler.yml
  .github/release.yml
  .github/stale.yml
  .github/try-on-f-cloud-button.svg
  .github/workflows/backport.yml
  .github/workflows/create-release.yml
  .github/workflows/generate-pot-file.yml
  .github/workflows/initiate_release.yml
  .github/workflows/labeller.yml
  .github/workflows/linters.yml
  .github/workflows/lock.yml
  .github/workflows/on_release.yml
  .github/workflows/patch-mariadb-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish-assets-develop.yml
  .github/workflows/release_notes.yml
  .github/workflows/server-tests.yml
  .github/workflows/ui-tests.yml
Due: server, server-ui

new feature: can disable creating contacts from sending emails
  frappe/core/doctype/communication/communication.py
  frappe/core/doctype/system_settings/system_settings.json
Due: server, server-ui

Email fix: Parse message even when it doesn't have attachments
  frappe/email/queue.py
Due: server, server-ui

hotfix for #63 bench migrate broken by email account changes/oauth
  frappe/email/doctype/email_account/email_account.json
Due: none

Fix: Add back create_payment_gateway() required by 'PayPal Settings' doctype
  frappe/integrations/utils.py
Due: server, server-ui

Dynamic disable smart shrinking
  frappe/printing/doctype/print_format/print_format.json
  frappe/utils/pdf.py
Due: server, server-ui

Implement ZUGFeRD native (wkhtmltopdf only!) and improve pdf function
  frappe/utils/print_utils.py
Due: server, server-ui

improved patches for gokuflyn
  frappe/patches.txt
  frappe/patches/v13_0/rename_custom_client_script.py
  frappe/patches/v13_0/rename_desk_page_to_workspace.py
  frappe/patches/v14_0/setup_likes_from_feedback.py
Due: server, server-ui

updated browser-list to latest
  package.json
  yarn.lock
Due: none

improved pdf generation
  frappe/utils/pdf.py
  frappe/utils/print_utils.py
Due: server, server-ui

improve stability of script rename patch
  frappe/patches/v13_0/rename_custom_client_script.py
Due: server, server-ui

improve failing auto repeat patch
  frappe/patches/v12_0/update_auto_repeat_status_and_not_submittable.py
Due: server, server-ui

deprecating number card link patch because this has been deprecated in v2025 (no such doctype)
  frappe/patches/v13_0/create_custom_dashboards_cards_and_charts.py
Due: server, server-ui

Backport of Frappe fix to CVE-2025-28062
  frappe/desk/form/save.py
  frappe/desk/reportview.py
Due: server, server-ui

Further changes to make CVE-2025-28062 fix work
  frappe/__init__.py
  frappe/handler.py
Due: server, server-ui

Email OAuth: Python3.5 compatibility fix
  frappe/email/oauth.py
Due: server, server-ui

Email OAuth: More Python3.5 fixes to make it migrate on older systems
  frappe/integrations/doctype/connected_app/connected_app.py
  frappe/integrations/doctype/oauth_scope/oauth_scope.py
  frappe/integrations/doctype/query_parameters/query_parameters.py
  frappe/integrations/doctype/token_cache/token_cache.py
Due: server, server-ui

Re-order patches (autoname / is_virtual order)
  frappe/patches.txt
Due: none

updating about resources
  frappe/public/js/frappe/ui/toolbar/about.js
Due: ui-tests

Fix documentation links
  frappe/commands/utils.py
  frappe/email/doctype/email_account/email_account.json
  frappe/integrations/doctype/google_settings/google_settings.js
  frappe/public/js/frappe/form/print.js
Due: server, ui-tests, server-ui

removed hardcoded custom field prefix
  frappe/custom/doctype/custom_field/custom_field.py
Due: server, server-ui

Bugfix: send email does not work / zugferd
  frappe/utils/print_utils.py
Due: server, server-ui

cleanup fo address and email queue
  frappe/contacts/doctype/address/address.json
  frappe/email/doctype/email_queue/email_queue.json
Due: none

Changes for SF email integration - customer specific for now
  frappe/contacts/doctype/contact/contact.py
  frappe/email/doctype/email_account/email_account.py
Due: server, server-ui

Do not notify document owners and assignees of each linked email (anyway this doesn't work due to send-as constraints)
  frappe/email/doctype/email_account/email_account.py
Due: server, server-ui

enable 2fa for admin
  frappe/twofactor.py
Due: server, server-ui
