Repository libracore/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests, server-ui

Chrome PDF Engine (libracore/bimbo#139)
  frappe/printing/doctype/print_format/print_format.json
Due: none

MVZH Mail Haeder Hack
  frappe/email/queue.py
Due: server, server-ui

MVZH Mail Header Hack (2025-11-20)
  frappe/email/queue.py
Due: server, server-ui

Bugfix Sender and Sender Name MIME Encoding
  frappe/email/email_body.py
Due: server, server-ui

libracore/frappe#64
  frappe/email/email_body.py
  frappe/email/queue.py
Due: server, server-ui

no default unsubscribe link
  frappe/email/queue.py
Due: server, server-ui

Forward-port of Datetime improvements (frappe!65) to v2025
  frappe/public/js/frappe/form/controls/date.js
  frappe/public/js/frappe/form/controls/datetime.js
Due: ui-tests

Update cached home_settings when editing User, thereby avoiding hidden desktop tiles that cannot be made visible
  frappe/core/doctype/user/user.py
Due: server, server-ui

Fix desktop settings to properly address modules not showing up in user's existing config
  frappe/desk/moduleview.py
Due: server, server-ui

Regression fixes
  frappe/core/doctype/user/user.py
  frappe/desk/moduleview.py
Due: server, server-ui

Added optional parameter notify to prevent email sending on ToDo creation
  frappe/desk/form/assign_to.py
Due: server, server-ui

Fix TypeError when running frappe.model.set_value on entries of a MultiSelect field, which doesn't have a 'grid' property
  frappe/public/js/frappe/form/form.js
Due: ui-tests

libracore/MVD#1631
  frappe/public/js/frappe/ui/tree.js
Due: ui-tests

libracore/MVD#1647
  frappe/email/queue.py
  frappe/email/smtp.py
Due: server, server-ui

libracore/MVD#1648
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/views/communication.js
Due: ui-tests

libracore/bimbo#315
  frappe/utils/print_utils.py
Due: server, server-ui

Changes for successful v2025 migration
  frappe/core/form_tour/doctype/doctype.json
  frappe/custom/form_tour/custom_field/custom_field.json
  frappe/printing/form_tour/letter_head/letter_head.json
  frappe/printing/form_tour/print_format/print_format.json
  pyproject.toml
Due: none

corrected currency information Switzerland
  frappe/geo/country_info.json
Due: none

Hotfix: Only match the most recent contact when assigning emails
  frappe/email/receive.py
Due: server, server-ui

libracore/MVD#1718
  frappe/email/doctype/email_account/email_account.py
Due: server, server-ui

Bugfix #65
  frappe/public/js/frappe/ui/filters/filter.js
Due: ui-tests

Check is route a external link, when yes open a new window.
  frappe/public/js/frappe/views/components/ModuleLinkItem.vue
Due: none

Check is route a external link, when yes open a new window. (thanks genesis81!)
  frappe/public/js/frappe/views/components/ModuleLinkItem.vue
Due: none

do not force httponly: this prevents script from accessing the cookie and therefore determining the portal login state
  frappe/auth.py
Due: server, server-ui

bugfix for the issue that an attached (private) xml, html, htm or svg will fail instead of downloading
  frappe/utils/response.py
Due: server, server-ui

hotfix (testing)
  frappe/utils/response.py
Due: server, server-ui

bugfix type specific download fail
  frappe/utils/response.py
Due: server, server-ui

logout hotfix
  frappe/auth.py
Due: server, server-ui

Bugfix #66
  frappe/desk/query_report.py
Due: server, server-ui

appendix: treat all binary files (response) as attachments
  frappe/utils/response.py
Due: server, server-ui

DANGEROUS: multiple hotfixes for report
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/public/js/frappe/views/reports/report_utils.js
  frappe/public/js/frappe/views/reports/report_view.js
Due: ui-tests

disabled background reports
  frappe/public/js/frappe/views/reports/report_utils.js
Due: ui-tests

Clean up 'Nutzer' to proper 'Benuter'
  frappe/locale/de.po
  frappe/tests/test_search.py
Due: server, server-ui

remove deprecated ß
  frappe/locale/de.po
Due: none

Compatibility upgrade dropbox to v12.0.2 (Py3.13)
  pyproject.toml
Due: none

Removing buggy frappe-github-hardcoed gunicorn
  pyproject.toml
Due: none

remove the print designer ad - use custom print formats for pretty and powerful print formats
  frappe/printing/page/print/print.js
Due: ui-tests

feature: allow to disable automatic prepared reports (system settings)
  frappe/core/doctype/report/report.py
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
Due: server, server-ui

adding translations for disbale automatic prepared reports
  frappe/core/doctype/system_settings/system_settings.json
  frappe/locale/de.po
Due: none

Update frappe-gantt to v0.6.1
  frappe/public/js/lib/frappe-gantt/frappe-gantt.css
  frappe/public/js/lib/frappe-gantt/frappe-gantt.min.js
  package.json
  yarn.lock
Due: ui-tests

Path conditions:
  server: any of: **/*.py
  ui-tests: any of: **/*.js
  server-ui: any of: **/*.py
