Repository libracore/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests, server-ui

improvement: hook for address autoname
  frappe/contacts/doctype/address/address.py
Due: server, server-ui

reset address naming hook
  frappe/contacts/doctype/address/address.py
Due: server, server-ui

bugfix: email error reporting
  frappe/email/doctype/email_account/email_account.py
Due: server, server-ui

updating Pillow/PIL to compatibility v10+
  frappe/core/doctype/file/file.py
  frappe/utils/image.py
Due: server, server-ui

reimported payment gateways and dependencies
  frappe/integrations/utils.py
  frappe/utils/data.py
  pyproject.toml
Due: server, server-ui

adding payment gateways
  frappe/core/doctype/payment_gateway/__init__.py
  frappe/core/doctype/payment_gateway/payment_gateway.js
  frappe/core/doctype/payment_gateway/payment_gateway.json
  frappe/core/doctype/payment_gateway/payment_gateway.py
  frappe/core/doctype/payment_gateway/test_payment_gateway.py
  frappe/integrations/doctype/braintree_settings/__init__.py
  frappe/integrations/doctype/braintree_settings/braintree_settings.js
  frappe/integrations/doctype/braintree_settings/braintree_settings.json
  frappe/integrations/doctype/braintree_settings/braintree_settings.py
  frappe/integrations/doctype/braintree_settings/test_braintree_settings.py
  frappe/integrations/doctype/paypal_settings/__init__.py
  frappe/integrations/doctype/paypal_settings/paypal_settings.js
  frappe/integrations/doctype/paypal_settings/paypal_settings.json
  frappe/integrations/doctype/paypal_settings/paypal_settings.py
  frappe/integrations/doctype/paytm_settings/__init__.py
  frappe/integrations/doctype/paytm_settings/paytm_settings.js
  frappe/integrations/doctype/paytm_settings/paytm_settings.json
  frappe/integrations/doctype/paytm_settings/paytm_settings.py
  frappe/integrations/doctype/paytm_settings/test_paytm_settings.py
  frappe/integrations/doctype/razorpay_settings/__init__.py
  frappe/integrations/doctype/razorpay_settings/razorpay_settings.js
  frappe/integrations/doctype/razorpay_settings/razorpay_settings.json
  frappe/integrations/doctype/razorpay_settings/razorpay_settings.py
  frappe/integrations/doctype/stripe_settings/__init__.py
  frappe/integrations/doctype/stripe_settings/stripe_settings.js
  frappe/integrations/doctype/stripe_settings/stripe_settings.json
  frappe/integrations/doctype/stripe_settings/stripe_settings.py
  frappe/integrations/doctype/stripe_settings/test_stripe_settings.py
  pyproject.toml
Due: server, ui-tests, server-ui

currency rounding bugfix: errors in negative numbers. Configuration option: switch System Settings > Rounding Method to Commercial Rounding. Run system test with
  frappe/__init__.py
  frappe/core/doctype/system_settings/system_settings.json
  frappe/tests/test_utils.py
  frappe/utils/data.py
Due: server, server-ui

additional test cases
  frappe/tests/test_utils.py
Due: server, server-ui

updating node libs
  .gitignore
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/js/frappe/model/meta.js
  frappe/public/js/frappe/ui/filters/filter.js
  frappe/public/js/frappe/ui/toolbar/awesome_bar.js
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/public/js/lib/fullcalendar/LICENCE.txt
  frappe/public/js/lib/jquery/LICENCE.txt
  frappe/public/js/lib/leaflet/LICENSE
  frappe/public/js/lib/leaflet_control_locate/L.Control.Locate.css
  frappe/public/js/lib/leaflet_control_locate/L.Control.Locate.js
  frappe/public/js/lib/leaflet_control_locate/LICENSE
  frappe/public/js/lib/leaflet_draw/MIT-LICENSE.md
  frappe/public/js/lib/leaflet_draw/leaflet.draw.css
  frappe/public/js/lib/leaflet_draw/leaflet.draw.js
  frappe/public/js/lib/leaflet_easy_button/LICENSE
  frappe/public/js/lib/leaflet_easy_button/easy-button.css
  frappe/public/js/lib/leaflet_easy_button/easy-button.js
  frappe/public/js/lib/moment.js
  frappe/public/js/lib/photoswipe/LICENCE
  frappe/public/js/lib/posthog.js
  frappe/public/scss/common/controls.scss
Due: ui-tests

API PUT Request Fix
  frappe/api.py
Due: server, server-ui

Fixing Firefox Cookie Issue
  frappe/auth.py
Due: server, server-ui

#1208
  frappe/auth.py
  frappe/utils/oauth.py
Due: server, server-ui

Fix datetime control, part 1 (accept time-only values, document hotkey, fix error message)
  frappe/public/js/frappe/form/controls/date.js
  frappe/public/js/frappe/form/controls/datetime.js
Due: ui-tests

activity log on password update
  frappe/__init__.py
  frappe/core/doctype/activity_log/feed.py
  frappe/utils/password.py
Due: server, server-ui

Revert "activity log on password update"
  frappe/__init__.py
  frappe/core/doctype/activity_log/feed.py
  frappe/utils/password.py
Due: server, server-ui

Revert "Merge branch 'datetime_fix' into 'v12'"
  frappe/public/js/frappe/form/controls/date.js
  frappe/public/js/frappe/form/controls/datetime.js
Due: ui-tests

Fix typo that broke the _move event trigger in grid rows
  frappe/public/js/frappe/form/grid.js
Due: ui-tests

Fix regression breaking date filters in list views
  frappe/public/js/frappe/form/controls/date.js
Due: ui-tests

Struggling with Form Tour Step
  frappe/boot.py
  frappe/core/doctype/doctype/doctype.py
  frappe/model/base_document.py
  frappe/model/meta.py
  frappe/modules/utils.py
  frappe/patches.txt
Due: server, server-ui

Resolve pyproject.toml
  pyproject.toml
Due: none

resolve some conflicts
  README.md
  cypress/integration/control_link.js
  cypress/integration/multi_select_dialog.js
  cypress/integration/query_report.js
  cypress/integration/routing.js
  package.json
  realtime/index.js
  realtime/middlewares/authenticate.js
  realtime/utils.js
Due: ui-tests

refactor payment integration
  frappe/core/doctype/payment_gateway/__init__.py
  frappe/core/doctype/payment_gateway/payment_gateway.js
  frappe/core/doctype/payment_gateway/payment_gateway.json
  frappe/core/doctype/payment_gateway/payment_gateway.py
  frappe/core/doctype/payment_gateway/test_payment_gateway.js
  frappe/core/doctype/payment_gateway/test_payment_gateway.py
  frappe/integrations/doctype/braintree_settings/__init__.py
  frappe/integrations/doctype/braintree_settings/braintree_settings.js
  frappe/integrations/doctype/braintree_settings/braintree_settings.json
  frappe/integrations/doctype/braintree_settings/braintree_settings.py
  frappe/integrations/doctype/braintree_settings/test_braintree_settings.js
  frappe/integrations/doctype/braintree_settings/test_braintree_settings.py
  frappe/integrations/doctype/paypal_settings/__init__.py
  frappe/integrations/doctype/paypal_settings/paypal_settings.js
  frappe/integrations/doctype/paypal_settings/paypal_settings.json
  frappe/integrations/doctype/paypal_settings/paypal_settings.py
  frappe/integrations/doctype/razorpay_settings/__init__.py
  frappe/integrations/doctype/razorpay_settings/razorpay_settings.js
  frappe/integrations/doctype/razorpay_settings/razorpay_settings.json
  frappe/integrations/doctype/razorpay_settings/razorpay_settings.py
  frappe/integrations/doctype/stripe_settings/__init__.py
  frappe/integrations/doctype/stripe_settings/stripe_settings.js
  frappe/integrations/doctype/stripe_settings/stripe_settings.json
  frappe/integrations/doctype/stripe_settings/stripe_settings.py
  frappe/integrations/doctype/stripe_settings/test_stripe_settings.js
  frappe/integrations/doctype/stripe_settings/test_stripe_settings.py
Due: server, ui-tests, server-ui

solved From Tour step
  frappe/integrations/doctype/paytm_settings/__init__.py
  frappe/integrations/doctype/paytm_settings/paytm_settings.js
  frappe/integrations/doctype/paytm_settings/paytm_settings.json
  frappe/integrations/doctype/paytm_settings/paytm_settings.py
  frappe/integrations/doctype/paytm_settings/test_paytm_settings.py
  frappe/patches.txt
Due: server, ui-tests, server-ui

removed patches, added from tour step to core
  frappe/core/doctype/form_tour_step/__init__.py
  frappe/core/doctype/form_tour_step/form_tour_step.json
  frappe/core/doctype/form_tour_step/form_tour_step.py
  frappe/patches.txt
Due: server, server-ui

added missing methods for erpnextswiss
  frappe/core/doctype/file/file.py
  frappe/email/queue.py
Due: server, server-ui

adding braintree dependency
  pyproject.toml
Due: none

adding gateway controller
  frappe/integrations/utils.py
Due: server, server-ui

adding libracore logo
  frappe/public/images/libracore.png
Due: none

blue navbar
  frappe/hooks.py
  frappe/public/js/frappe/ui/toolbar/navbar.html
  frappe/public/scss/desk/navbar.scss
Due: server, server-ui

powered by
  frappe/templates/includes/footer/footer_powered.html
Due: none

installation fixtures and navbar color fix
  frappe/integrations/utils.py
  frappe/public/scss/common/css_variables.scss
  frappe/public/scss/common/icons.scss
  frappe/public/scss/desk/breadcrumb.scss
Due: server, server-ui

navbar help menu fix
  frappe/public/js/frappe/ui/toolbar/navbar.html
Due: none

moved payment dependencies
  pyproject.toml
Due: none

file.py
  frappe/core/doctype/file/file.py
Due: server, server-ui

re-ordered workspaces
  frappe/automation/workspace/tools/tools.json
  frappe/core/workspace/build/build.json
  frappe/core/workspace/users/users.json
  frappe/integrations/workspace/integrations/integrations.json
  frappe/website/workspace/website/website.json
Due: none

libracore color scheme
  frappe/public/scss/common/buttons.scss
  frappe/public/scss/common/css_variables.scss
  frappe/public/scss/espresso/_colors.scss
Due: none

replace beate with hans from Switzerland ;-)
  frappe/locale/de.po
Due: none

Fix datetime control, part 1 (accept time-only values, document hotkey, fix error message) [recommit]
  frappe/public/js/frappe/form/controls/date.js
  frappe/public/js/frappe/form/controls/datetime.js
Due: ui-tests

Path conditions:
  server: any of: **/*.py
  ui-tests: any of: **/*.js
  server-ui: any of: **/*.py
