Repository libracore/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests, server-ui

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  range: 60..90
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        flags:
          - server
    patch:
      default:
        target: 85%
        threshold: 0%
        only_pulls: true
        if_ci_failed: ignore
        flags:
          - server

comment:
  layout: "diff, flags"
  require_changes: true
  show_critical_paths: true

flags:
  server:
    paths:
      - "**/*.py"
    carryforward: true
  ui-tests:
    paths:
      - "**/*.js"
    carryforward: true
  server-ui:
    paths:
      - "**/*.py"
    carryforward: true

profiling:
   critical_files_paths:
      - /frappe/api.py
      - /frappe/app.py
      - /frappe/auth.py
      - /frappe/boot.py
      - /frappe/client.py
      - /frappe/handler.py
      - /frappe/migrate.py
      - /frappe/sessions.py
      - /frappe/utils/*
      - /frappe/desk/reportview.py
      - /frappe/desk/form/*
      - /frappe/model/*
      - /frappe/core/doctype/doctype/*
      - /frappe/core/doctype/data_import/*
      - /frappe/core/doctype/user/*
      - /frappe/core/doctype/user/*
      - /frappe/query_builder/*
      - /frappe/database/*

Hotfix: report builder cannot export due to background flag
  frappe/desk/reportview.py
Due: server, server-ui

Dropping auto-link address to customer from contact by same email_id = owner
  frappe/contacts/doctype/address/address.py
Due: server, server-ui

more relaxed requirement
  pyproject.toml
Due: none

Kanban: Discard stale documents after moving cards, forcing reload on open
  frappe/public/js/frappe/views/kanban/kanban_board.js
Due: ui-tests

Default activation link expiry from 20 minutes to 3 days (259200 seconds)
  frappe/core/doctype/system_settings/system_settings.json
Due: none

feature: system settings allows to fix secondary navbar (save button)
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
  frappe/public/js/frappe/ui/page.js
Due: server, ui-tests, server-ui

prevent xml encoding issue on attached emails
  frappe/email/email_body.py
Due: server, server-ui

beautification by reduction of code duplication
  frappe/email/email_body.py
Due: server, server-ui

adding translations for disbale automatic prepared reports
  frappe/core/doctype/system_settings/system_settings.json
  frappe/locale/de.po
Due: none

Compatibility upgrade dropbox to v12.0.2 (Py3.13)
  pyproject.toml
Due: none

Fix TypeError when running frappe.model.set_value on entries of a MultiSelect field, which doesn't have a 'grid' property
  frappe/public/js/frappe/form/form.js
Due: ui-tests

Bugfix #66
  frappe/desk/query_report.py
Due: server, server-ui

remove the print designer ad - use custom print formats for pretty and powerful print formats
  frappe/printing/page/print/print.js
Due: ui-tests

corrected currency information Switzerland
  frappe/geo/country_info.json
Due: none

Fix finkzeit#34 - Add CSS to avoid double scrollbars in list and report views (a forward-port of the v12 fix at frappe@d3af5c9e)
  frappe/public/scss/desk/index.scss
  frappe/public/scss/desk/no_double_scrolling.scss
Due: none

feature: allow to disable automatic prepared reports (system settings)
  frappe/core/doctype/report/report.py
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
Due: server, server-ui

remove deprecated ß
  frappe/locale/de.po
Due: none

Removing buggy frappe-github-hardcoed gunicorn
  pyproject.toml
Due: none

Clean up 'Nutzer' to proper 'Benuter'
  frappe/locale/de.po
  frappe/tests/test_search.py
Due: server, server-ui

DANGEROUS: multiple hotfixes for report
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/public/js/frappe/views/reports/report_utils.js
  frappe/public/js/frappe/views/reports/report_view.js
Due: ui-tests

Bugfix #65
  frappe/public/js/frappe/ui/filters/filter.js
Due: ui-tests

libracore/bimbo#315
  frappe/utils/print_utils.py
Due: server, server-ui

disabled background reports
  frappe/public/js/frappe/views/reports/report_utils.js
Due: ui-tests

appendix: treat all binary files (response) as attachments
  frappe/utils/response.py
Due: server, server-ui

translation hotfix
  frappe/locale/de.po
Due: none

erpfinkzeit#34 - New approach for query reports
  frappe/public/scss/desk/no_double_scrolling.scss
Due: none

erpfinkzeit#34 - Leave query reports untouched for now
  frappe/public/scss/desk/no_double_scrolling.scss
Due: none

erpfinkzeit#34: Claude's fix for full-length query reports, with a JS hook
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/public/scss/desk/no_double_scrolling.scss
Due: ui-tests

erpfinkzeit#34 - Workaround to avoid remaining outer scrollbar in inner-scrolling case
  frappe/public/scss/desk/no_double_scrolling.scss
Due: none

erpfinkzeit#34 - Layout tweak to 'long' query reports
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests
