Repository libracore/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests, server-ui

erpfinkzeit#34 - Dynamic decision between inner and outer scrolling based on number of visible table rows in query reports
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

erpfinkzeit#34 - Extra 20px unterhalb Footer
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/public/scss/desk/no_double_scrolling.scss
Due: ui-tests

libracore/MVD#1891
  frappe/core/doctype/communication/email.py
Due: server, server-ui

conditional remark on in/not in was broken
  frappe/public/js/frappe/ui/filters/filter.js
  frappe/public/js/frappe/ui/filters/filters.js
Due: ui-tests

remove old reference (broken)
  frappe/public/js/frappe/ui/filters/filter.js
Due: ui-tests

corrected bug of rounding to full pounds
  frappe/geo/country_info.json
  frappe/geo/doctype/currency/currency.py
Due: server, server-ui

adding ignore party validation setting
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
Due: server, server-ui

Bugfix for #68
  frappe/public/js/frappe/model/sync.js
Due: ui-tests

Remove form tour doctype customizations, causing trouble during migration
  frappe/core/form_tour/doctype/doctype.json
  frappe/custom/form_tour/custom_field/custom_field.json
  frappe/printing/form_tour/letter_head/letter_head.json
  frappe/printing/form_tour/print_format/print_format.json
Due: none

Backport changes to schema.py to avoid ValueError: could not convert string to float, with some default values in doctype customizations
  frappe/database/schema.py
Due: server, server-ui

Fix: Always pass a print format to get_pdf so disable_smart_shrinking works correctly
  frappe/utils/print_utils.py
Due: server, server-ui

libracore/MVD#2045
  frappe/core/doctype/communication/email.py
Due: server, server-ui

on duplicate assignment, add description to comment section
  frappe/desk/form/assign_to.py
Due: server, server-ui

#2095
  frappe/core/doctype/communication/email.py
Due: server, server-ui

file_manager hotfix
  frappe/utils/file_manager.py
Due: server, server-ui

#2117
  frappe/core/doctype/communication/email.py
Due: server, server-ui

Improve pdf error handling
  frappe/utils/pdf.py
Due: server, server-ui

change font size of text base to 12 px
  frappe/public/scss/espresso/_typography.scss
Due: none

remove flex (reduce free space waste
  frappe/public/scss/desk/list.scss
Due: none

#2142
  frappe/core/doctype/communication/email.py
Due: server, server-ui

libracore/MVD#2161
  frappe/utils/response.py
Due: server, server-ui

Path conditions:
  server: any of: **/*.py
  ui-tests: any of: **/*.js
  server-ui: any of: **/*.py
